* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(142, 32, 71, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  background: rgb(71, 20, 99);
  background: linear-gradient(
    90deg,
    rgba(71, 20, 99, 1) 0%,
    rgba(81, 72, 117, 1) 50%,
    rgba(19, 12, 3, 1) 100%
  );
}
header {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

input[type="file"],
input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]::placeholder {
  color: #888;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.imagen-previa {
  max-width: 50%;
  height: auto;
}
.clickable {
  cursor: pointer;
  text-align: center;
  transition: color 0.3s;
}

.clickable:hover {
  color: #c13584;
}

@media (max-width: 768px) {
  input[type="file"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .imagen-previa {
    max-width: 70%;
    height: auto;
  }
}
