* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: rgb(255, 239, 246);
  background: radial-gradient(
    circle,
    rgba(255, 239, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 100%;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-logo {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-content {
  margin-top: 10px;
}

button {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 100%;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

button#cancel-btn {
  background-color: var(--cancel-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

input::placeholder {
  color: #888;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
